<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chat Example</title>
    <script src="https://unpkg.com/twitch-emoji@^0.2.0/dist/twitchemoji.min.js"></script>
    <script src="templates/chat.js"></script>
    <link rel="stylesheet" href="templates/chat.css">
</head>
<body>
<div id="log" class="sl__chat__layout">
    <!-- chat item -->
    <!--script type="text/template" id="chatlist_item">
        <div data-from="{from}" data-id="{messageId}">
    <span class="meta" style="color: {text_color}; text-shadow: 0 0 1px {color}, 0 0 2px {color};">
      <span class="badges">
      </span>
      <span class="name">{from}</span>
    </span>

            <span class="message">
      {message}
    </span>
        </div>
    </script-->
</div>


</body>
</html>