<head>
    <title>Settings</title>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/index.css"/>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">

            <div class="tab" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab"
                                                              data-toggle="tab">Input streamer names</a></li>

                </ul>
                <br>
                <!-- Tab panes -->
                <script>
                    function insertNameBox() {
                        var template = document.createElement("template")
                        template.innerHTML = '<input class="form-control" name="streamer" placeholder="Streamer name">'
                        document.getElementById("streamers").appendChild(template.content.firstChild)
                    }
                    function deleteLast() {
                        var st = document.getElementById("streamers");
                        if (st.childNodes.length > 3) {
                            console.log(st.childNodes[st.childNodes.length - 1])
                            while (st.childNodes[st.childNodes.length - 1].innerHTML === undefined) {
                                st.removeChild(st.childNodes[st.childNodes.length - 1])
                                console.log(st.childNodes[st.childNodes.length - 1])
                            }
                            st.removeChild(st.childNodes[st.childNodes.length - 1])
                        }
                    }
                </script>
                <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                    <form method="post" action="/" class="form-horizontal">
                        <div id="streamers" class="form-group">
                            {{ range .Streamers }}
                            <input class="form-control" name="streamer" placeholder="Streamer name" value="{{ . }}">{{ else }}
                            <input class="form-control" name="streamer" placeholder="Streamer name" value="">{{ end }}
                        </div>
                        <div class="form-group">
                            <button style="" type="button" class="btn btn-default" onclick="insertNameBox()">+</button>
                            <button style="" type="button" class="btn btn-default" onclick="deleteLast()">-</button>
                        </div>
                        <div class="form-group">
                            <div class="main-checkbox">
                                <input id="checkbox1" name="skipInit" type="checkbox" {{ if .SkipInit }}checked="checked"{{end}}>
                                <label for="checkbox1"></label>
                            </div>
                            <span class="text">Don't show this screen on startup</span>
                        </div>
                        <div class="form-group">
                            <button style="width: 100%" type="submit" class="btn">Proceed</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
</body>