<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        window.onload = function() {
            var data = window.location.hash.substr(1);
            if (data) {
                xhr = new XMLHttpRequest();
                xhr.open("POST", "/token")
                xhr.send(data)
                document.getElementById("data").innerHTML = `Done! Wait for a redirect, go to the app or <a href="/home">click here</a>`
                setTimeout(function () {
                    document.location = "/home"
                }, 5000)
            } else {
                document.getElementById("data").innerHTML = `Please authenticate in your browser...`
                setInterval(function () {
                    xhr = new XMLHttpRequest();
                    xhr.open("GET", "/token_check")
                    xhr.onreadystatechange = () => {
                        if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                            document.location = "/home?force=true";
                        }
                    }
                    xhr.send()
                }, 1000)
            }
        }
    </script>
</head>
<body>
<div id="data">

</div>

</body>
</html>